<!DOCTYPE html>
<html lang="en">
    <head>
        <title>404</title>
        <%- include('./partials/head.ejs') %>
    </head>
    <body>
        <%- include('./partials/nav.ejs') %> 
        <div class="container center-align">
            <h3>404 Not Found</h3>
            <p>Oops, it did it again ...</p>
            
        </div>
    </body>
</html>
